## Importing libraries

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
sns.set_theme(style="whitegrid")

## Load and inspect the data

In [9]:
df = pd.read_csv("../data/processed/merged_data.csv")
df.shape, df.columns

((53759, 16),
 Index(['vaga_id', 'candidato_id', 'situacao', 'comentario', 'nome', 'cliente',
        'sap', 'nivel_profissional', 'idioma', 'competencias_tecnicas',
        'nivel_academico', 'ingles', 'espanhol', 'area_atuacao',
        'conhecimentos', 'cv'],
       dtype='object'))

In [10]:
df.head()

,vaga_id,candidato_id,situacao,comentario,nome,cliente,sap,nivel_profissional,idioma,competencias_tecnicas,nivel_academico,ingles,espanhol,area_atuacao,conhecimentos,cv
0,4530,25632,Encaminhado ao Requisitante,"Encaminhado para - PJ R$ 72,00/hora",José Vieira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,25529,Encaminhado ao Requisitante,"encaminhado para - R$ 6.000,00 – CLT Full , n...",Srta. Isabela Cavalcante,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4531,25364,Contratado pela Decision,Data de Inicio: 12/04/2021,Sra. Yasmin Fernandes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4531,25360,Encaminhado ao Requisitante,NaN,Alexia Barbosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4533,26338,Contratado pela Decision,NaN,Arthur Almeida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploratory Data Analysis (EDA)

In [11]:
# Verificar os valores únicos e frequências da coluna "situacao"
df['situacao'].value_counts()

situacao
Prospect                          20021
Encaminhado ao Requisitante       16122
Inscrito                           3980
Não Aprovado pelo Cliente          3492
Contratado pela Decision           2758
Desistiu                           2349
Não Aprovado pelo RH               1765
Não Aprovado pelo Requisitante      765
Entrevista Técnica                  579
Sem interesse nesta vaga            576
Entrevista com Cliente              469
Em avaliação pelo RH                375
Contratado como Hunting             226
Aprovado                            209
Desistiu da Contratação              59
Documentação PJ                       4
Documentação CLT                      3
Recusado                              2
Documentação Cooperado                2
Encaminhar Proposta                   2
Proposta Aceita                       1
Name: count, dtype: int64

In [12]:
# Definindo os valores
valores_sucesso = [
    "Contratado pela Decision",
    "Contratado como Hunting",
    "Proposta Aceita"
]

valores_excluir = [
    "Prospect", "Inscrito", "Encaminhado ao Requisitante",
    "Entrevista Técnica", "Entrevista com Cliente",
    "Em avaliação pelo RH", "Encaminhar Proposta",
    "Documentação PJ", "Documentação CLT", "Documentação Cooperado"
]

# Filtrar o dataset
df = df[~df["situacao"].isin(valores_excluir)]

# Criar a variável target
df["target"] = df["situacao"].apply(lambda x: 1 if x in valores_sucesso else 0)

# Verificar a distribuição final
df["target"].value_counts(normalize=True)

target
0    0.755368
1    0.244632
Name: proportion, dtype: float64

In [13]:
df.shape

(12202, 17)

In [14]:
df['nivel_academico'].value_counts(dropna=False)

nivel_academico
NaN    12202
Name: count, dtype: int64